.main_wrapper {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: auto;
    width: 1100px;
}

.page {
    padding: 20px;
    width: 950px;
    margin: auto;
}

.main_nav {
    border-bottom: 1px solid grey;
}

.login_form, .signup_form {
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

.login_title {
    text-align: center;
    margin-bottom: 10px;
}

.upload_image {
    max-width: 500px;
}

.avatar {
    max-width: 260px;
    max-height: 300px;
}

.basic_info {
    display: flex;
    justify-content: center;
}

.team_photo {
    display: flex;
    flex-direction: column;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    max-width: 300px;
    word-wrap: break-word;
}

.info span {
    padding-bottom: 10px;
}

#player_name {
    width: 200px;
}

.list_players {
    margin-left: 40px;
}

.input_score {
    width: 60px;
}

.score_label {
    #border: 1px solid red;
    width: 100px;
}